@import '~styles/variables';

.base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  color: $white;
  padding: 1rem;
}

.logo {
  width: 5rem;
}

.content {
  display: flex;
  flex: 0.55;
}
