.base {
  font-size: 14px;
  color: black;
  text-align: left;
  font-weight: normal;

  &.center {
    text-align: center;
  }

  &.bold {
    font-weight: bold;
  }
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 16px;
}

.heading {
  font-size: 16px;
}

.subheading {
  font-size: 16px;
}

.error {
  color: red;
}
